*.o
*.Po
*.a
*.so
*.dll
*.dylib
*.exe
*.lai
*.la
*.lo
*.trs
*.tar.gz
*.tar.bz2
*.zip

src/smartcashd
src/qt/smartcash-qt
src/qt/qrc_bitcoin_locale.cpp
src/test/test_smartcash
src/test/test_smartcash_fuzzy
src/bench/bench_smartcash
src/univalue/test/test_unitester
src/univalue/test/test_json21

depends/built/
depends/sources/
depends/x86_64-pc-linux-gnu/
depends/x86_64-w64-mingw32/
depends/i686-pc-linux-gnu/
depends/i686-w64-mingw32/
depends/aarch64-linux-gnu/
depends/arm-linux-gnueabihf/
depends/riscv64-linux-gnu/

autom4te.cache/
configure
config.log
config.status
libtool
stamp-h1
Makefile
src/Makefile
src/qt/forms/ui_*.h
src/qt/moc_*.cpp
src/qt/moc_*.h

*.pyc
*~
.DS_Store